/* #container {
    display: flex;
}

#sideBar {
    display: grid;
    width: 20%;
    border: solid;
    padding: 2%;
}

#personalInfoForm {
    display: grid;
}

#education, #personalInfo, #workHistory {
    display: grid;
}

#educationForm{
    display: grid;
}

#workHistoryForm {
    display: grid;
} */